
    .Elements {
        background: ##FFFF00;
    }

    .Seasons {
         background: #A00000;
     }

    .Meus Amores  {
        background: #00FFFF;
    }

    .{
        width:400px;
        height: 60px;
    }