
    .Elements {
        background: ##FFFF00;
    }

    .Seasons {
         background: #A00000;
     }

    .Meus Amores  {
        background: #00FFFF;
    }

      .band {
        width:200px;
        height: 30px;
    }