
    .elements {
        background: #FFFF00;
    }

    .seasons {
         background: #A00000;
     }

    .meus Amores  {
        background: #00FFFF;
    }

    .band {
        width:200px;
        height: 30px;
    }